<%- include("partials/header"); %>

    <h1>Home</h1>
    <p><%= homeStartingContent %> </p>

<% post.forEach(function(item, index){ %> 
    <h1><%= item.title %> </h1>
    <pre><p><%= item.content.split('\n')[0].substring(0, 100) + "..." %> <a href="/posts/<%= item.title %>">Read more</a></p></pre>
<% }); %> 

<form action="/compose" method="get">
    <button type="submit" class="btn btn-primary mb-3">Compose</button>
</form>

<%- include("partials/footer"); %>